<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtutorialshub.loginregister">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.noamcanter.android.swapapp.adapters.ItemsRecyclerAdapter2"
            android:exported="true" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.TradeActivity"
            android:exported="true" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.SpecificItem"
            android:exported="true" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.ProfilePage"
            android:exported="true" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.UploadItem"
            android:exported="true" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.FeedActivity"
            android:exported="true" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.noamcanter.android.swapapp.activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noamcanter.android.swapapp.activities.UsersListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>